.service,
.action,
.path {
  cursor: default;
}
.infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service {
  display: flex;
  padding-top: $padding;
  padding-right: $padding;
  padding-bottom: calc($padding * 2);
  padding-left: calc($padding * 2);
  // padding: $padding calc($padding * 2);
}
.content {
  flex-grow: 1;
  height: 100%;
}
.header {
  display: none !important; // TODO dev only
  display: flex;
  // background: #fff;
  padding: 0 30px;
  padding-top: 0px;
  /* Rectangle: */
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
  justify-content: space-between;
  align-items: center;
  button {
    width: 160px;
  }
}
.error {
  padding: 30px;
  font-size: 30px;
  color: $red;
}
.headerLeft {

}
.headerRight {
  width: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  button:first-of-type {
    margin-bottom: 10px;
  }
  button:last-of-type {
    color: $red;
    border-color: $red;
  }
}
.serviceName {
  font-size: 20px;
  cursor: default;
  a {
    color: $black2;
  }
}
.currentServiceContext {
  display: flex;
  margin-bottom: 20px;
  .currentStage, .currentAccount, .currentRegion {
    margin-right: 20px;
    display: flex;
    align-items: center;
    min-width: 80px;
    font-weight: bold;
  }
}
.serviceMeta {
  display: none !important;
  display: flex;
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  div {
    margin-right: 20px;
  }
  h2 {
    margin: 0;
    padding: 0px;
    font-size: 20px;
  }
}

.serviceInfo {
  // padding-left: 30px;
  // padding-right: 30px;
  // padding: 0 4rem !important;
  padding: 0 calc($padding * 2);
  // min-height: 200vh !important;
}

.contents {
  display: flex;
  height: 100%;
}
.contentsLeft {
  width: 60%;
  height: 100%;
}
.contentsRight {
  display: none !important;
  width: 40%;
  height: 100%;
}
.modal {
  width: 70vw;
}
.modalButtons {
  display: flex;
  button {
    margin-right: 20px;
  }
}
.invokeBox {
  margin: 20px 0px;
  textarea {
    width: 95%;
    padding: 10px;
    height: 230px;
  }
}




.actions {
  display: flex;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tile;
  height: calc($tile + ($padding * 2));
  padding: $padding 0;
  &:hover,
  &:active {
    path {
      stroke: #0074c2 !important;
      fill: #0074c2 !important;
      transition: box-shadow 250ms 0ms;
    }
    .icon {
      box-shadow:
        0  1px #0074c2 inset,
        0 -1px #0074c2 inset,
        1px  0 #0074c2 inset,
        -1px 0 #0074c2 inset;
      transition: box-shadow 250ms 0ms;
    }
  }
  path {
    transition: box-shadow 500ms 0ms;
  }
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $padding;
  height: $padding;
  border-radius: 4rem;
  transition: box-shadow 500ms 0ms;
}
.head {
  display: flex;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body {

}
.title {
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
}
.path {
  padding-top: .375rem;
  padding-bottom: .375rem;
  // pointer-events: auto;
  code {
    transition: 250ms 0ms;
  }
  &:hover {
    code {
      background: rgba(0, 0, 0, 0);
      box-shadow:
        0  1px #ddd  inset,
        0 -1px #ddd  inset,
        1px  0 #ddd  inset,
        -1px 0 #ddd  inset;
      transition: 100ms 0ms;
    }
  }
}
.snippet {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
