.serviceListPageWrapper {

}
.pageTitle {
  h1 {
    margin-bottom: 10px;
  }
}
.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div > button:last-of-type {
    margin-right:0px;
  }
  input {
    height: 25px;
    display: block;
    padding: 0px 8px;
    min-width: 200px;
  }
  margin-bottom: 10px;
}
.notFound {
  padding: 20px;
}
.modalButtons {
  display: flex;
  margin-top: 20px;
  button:first-of-type {
    margin-right: 10px;
    color: #FF5743;
  }
}

.serviceList {
  display: flex;
  flex-flow: row wrap;
  padding: $padding;
  padding-right: 0;
}
