.container {
  // padding-left: 30px;
  // padding-right: 30px;
  // padding: 0 $padding;
  // padding: $padding;
}
.pageTitle {
  h1 {
    margin-bottom: 10px;
  }
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 1.5rem;
  // padding: $padding;

  max-width: $tile_xxl;
  margin: 0 auto;
  padding: 0 $tile;

  > div > button:last-of-type {
    margin-right:0px;
  }
  input {
    height: 25px;
    display: block;
    padding: 0px 8px;
    min-width: 200px;
  }
  // margin-bottom: 10px;
}
.notFound {
  padding: 20px;
}
.modalButtons {
  display: flex;
  margin-top: 20px;
  button:first-of-type {
    margin-right: 10px;
    color: #FF5743;
  }
}

.body {
  // background: #FFFFFF;
  // box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
  // margin-bottom: 80px;
  // display: flex;
  // flex-direction: column;
  // max-width: $tile_xxl;
  // margin: 0 auto;
  // padding: 0 $tile;
  // padding: 0 2.5rem;
  // padding: 2.5rem;
  // padding-top: 2.5rem;
  // padding-right: 0;
  // padding-bottom: 2.5rem;
  // padding-left: 2.5rem;
  padding: 0 $padding;
  margin-bottom: $tile_xl;
}
