$navHeight: 45px;
$NavBackground: #FFD426;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow: hidden;
  // background: #F6F6F6;
}
.chrome {
  box-sizing: content-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 22px;
  height: $padding;
  // border-bottom: 1px solid #ccc;
  -webkit-app-region: drag;
}
.title {
  font-size: .75rem;
}
.head {
  flex-shrink: 0;
  display: flex;
  position: relative;
  width: 100%;
  // height: 38px;
  height: $tile;
  // padding: 0 78px;
  // background: red;
  // background: #ccc;
  // padding-top: 1rem;
  // padding: 0 $padding;
  margin-top: $padding;
  // padding: 0 calc($padding * 2);
  padding-left: calc($padding * 2);
}
.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: 1px;
  border-bottom: 1px solid #ccc;
}
.body {
  flex-grow: 1;
  // overflow-y: auto;
}




.search {
  display: flex;
  flex-direction: column;
  // font-size: 1.5rem;
  position: relative;
  width: 100%;
  height: 100%;
  // margin-bottom: 1em;
  // margin-left: $tile;
  // margin-left: calc($padding * 2);
}
.label {
  color: #ccc;
  // display: none;
  display: flex;
  align-items: center;
  // justify-content: center;
  position: absolute;
  // order: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // padding-left: 68px;
  // padding-left: $tile;
  // padding-top: 1rem;
  // padding-top: 22px;
  // padding-bottom: 22px;
  // max-width: 100%;
  // padding: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  transition: 375ms;
}
.input {
  // background: #ccc;
  // font-size: 1.5rem;
  width: 100%;
  height: 100%;
  // padding-left: 68px;
  // padding-left: $tile;
  // padding-top: 1rem;
  // padding-top: 22px;
  // padding-bottom: 22px;
  // order: 2;
  // padding: 1.25rem 0 1.25rem 1.25rem;
  // height: $tile;
  // border: none;
  // box-shadow:
  //   0  1px #eee  inset,
  //   0 -1px #eee  inset,
  //   1px  0 #eee  inset,
  //   -1px 0 #eee  inset;
}







.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: $tile;
  height: 100%;
  background: red;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tile;
  height: $tile;
  &:last-child {
    margin-top: auto;
    // background: blue;
  }
}
.killme {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #eee;
}
