*, *:before, *:after {
  box-sizing: border-box;
}
html {
  color: #555;
  font: 16px/1.5 'Roboto', sans-serif;
  text-size-adjust: 100%;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
body {
  min-height: 100%;
  margin: 0;
}
a {
  color: #0074c2;
}
button {
  background: none;
  border: 1px solid;
  outline: none;
  cursor: pointer;
}
i {
  font-style: normal;
}
strong {
  font-weight: 500;
}
code {
  font: @code;
  display: block;
  white-space: pre;
}
pre {
  font: @code;
}
hr {
  border: 0;
  border-top: @border;
  margin: @margin 0;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}
